/* Navigation bar links */
.navbar a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: #2196F3;
}

/* Style of input container */
.navbar .login-container {
    float: right;
}

/* Style of input field inside the navigation bar */
.navbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
}

/* Style of button inside the input container */
.navbar .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: darkgray;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.navbar .login-container button:hover {
    background: #2196F3;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.backgimg1, .backgimg2, .backgimg3, .backgimg4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.backgimg1 {
    background-image: url("1.jpg");
    min-height: 100%;
}

.backgimg2 {
    background-image: url("2.jpg");
    min-height: 100%;
}

.backgimg3 {
    background-image: url("3.jpg");
    min-height: 400px;
}

.backgimg4 {
    background-image: url("4.jpg");
    min-height: 100%;
}


/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgba(255, 255, 255, 0.2); /*Color and opacity*/
    color: white;
    font-weight: bold;
    font-size: 40px;
    border: 5px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 20px;
    text-align: center;
}

.bio {
    position: relative;
    left: 50%;
    top: 200px;
    max-width: 600px;
    text-align: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    word-spacing: 3px;
    color: #212121;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    color: #212121;
    font-size: 70px;
    word-spacing: 3px;
    margin: 0;
    padding: 20px;
    font-variant: small-caps;
    text-transform: capitalize;
}

li {
    margin-bottom: 20px;
}

/* Create three columns that floats next to each other */
.column {
    float: left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style of contact part */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid darkgray;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #2196F3;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}